<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="businessrules.BusinessrulesPackage" genModel="model/Businessrules.genmodel" uri="platform:/resource/de.upb.mbse.taxcalculationexample.businessrules/model/Businessrules.ecore"/>
  </extension>
</plugin>
